.date-select-field::-webkit-input-placeholder { color:#6f6973;     font-size: 12px;
    font-weight: bold; }
.date-select-field::-moz-placeholder { color:#6f6973;     font-size: 12px;
    font-weight: bold;} /* firefox 19+ */
.date-select-field:-ms-input-placeholder { color:#6f6973;     font-size: 12px;
    font-weight: bold; } /* ie */
.date-select-field:-moz-placeholder { color:#6f6973;     font-size: 12px;
    font-weight: bold; }
