$font-stack:	'Montserrat', sans-serif;
$font-secondary: 'Amaranth', sans-serif;
$primary-color:#72bf45;
$primary-bg : #f3f0e7;
$primary-font-color:#463c4c;
$black:			#000;
$white:			#fff;
$anchor-color:	#545353;
$linkHoverColor:#ef4123;
$green:#558f34;
$text_color:#463c4c;
$text_color2:#6f6973;
$bgColor1:#f6945a;
$bgColor2:#342d39;
$circleOne:#f79f6b;
$circleGreen:#72bf44;
$green2:#72be44;
$green3:#71bd44;